[2015-08-19 16:13] mariusghitulescu opened #3 "Cloud and Weather Layers are not working"
When creating a map, enabling Cloud and Weather layers do not work.

Update: http://dirk.net/2015/06/12/google-maps-weather-layer-not-working/

Those layers do not exist anymore, we should remove them completely.

@ineagu @selu91 @rodica-andronache

[2015-10-19 11:00] rodica-andronache opened #4 "Add plugin icon"

[2015-10-29 11:31] rodica-andronache opened #5 "Notice: Use of undefined constant WPLANG - assumed 'WPLANG' in C:\wamp\www\wordpress3\wp-content\plugins\intergeo-maps\index.php on line 122"
When installed polylang

[2016-01-24 15:45] ineagu opened #6 "Simplify plugin interface"
I would suggest to simplify the plugin settings and allowing the users to simply to the most popular thing they want : Add a marker .

@selu91 My suggestion is to add a new tab called Add a marker, that is open by default when somebody is trying to create a map, in that tab we start with an add a new marker button, when is clicked it can either :

- Allow the user to drag& drop a marker ( then edi

[2016-02-06 18:42] HardeepAsrani opened #7 "Small typo"
@cristian-ungureanu

In intergeo-maps/templates/iframe/form.php, line #41, it says "Go to addrses"

instead of 'address.'

[2016-03-03 14:08] rodica-andronache opened #8 "Warnings"
Warning: include_once(C:\wamp\www\wordpress3\wp-content\plugins\intergeo-maps\templates\iframe/extra.php): failed to open stream: No such file or directory in C:\wamp\www\wordpress3\wp-content\plugins\intergeo-maps\templates\iframe\form.php on line 32

 Warning: include_once(): Failed opening 'C:\wamp\www\wordpress3\wp-content\plugins\intergeo-maps\templates\iframe/extra.php' for inclusion (includ

[2016-03-29 14:09] #8 closed

[2016-04-05 14:29] selu91 commented on #7
fixed in https://github.com/Codeinwp/intergeo-maps/releases/tag/v1.0.4

[2016-04-05 14:29] #7 closed

[2016-04-05 14:30] #4 closed

[2016-04-05 14:30] selu91 commented on #3
they are no longer available due to google maps api. fixed in https://github.com/Codeinwp/intergeo-maps/commit/4a1338301d888b540e7ff3400d740c6defd6c8fc

[2016-04-05 14:31] #3 closed

[2016-04-05 14:33] selu91 opened #12 "redirect users on plugins page"
On activate we redirect the users Media -> Intergeo. If there are no maps available, we will show them either some useful links on how to use it or something related to this.

[2016-04-06 08:18] selu91 opened #13 "translation ready plugin"
We would need to make the plugin translation ready:

https://developer.wordpress.org/plugins/internationalization/how-to-internationalize-your-plugin/

[2016-04-07 08:28] contactashish13 commented on #13
pushed changes to repo @selu91

[2016-04-07 08:41] selu91 commented on #13
please also add these:

* Text Domain: my-plugin
 * Domain Path: /languages

[2016-04-07 09:02] contactashish13 commented on #13
done

[2016-04-07 09:05] selu91 commented on #13
solved in https://github.com/Codeinwp/intergeo-maps/commit/80432b812dd52110b92b0c70c5fbe76d74021f9e
https://github.com/Codeinwp/intergeo-maps/commit/ccc96773ab79bdc5335a06594aefa4715706a0c6

[2016-04-07 09:05] #13 closed

[2016-05-10 08:48] selu91 commented on #12
@contactashish13 let's add a green notification after the plugin install, which users can dismiss. The message will be lately edited.

[2016-05-11 08:09] contactashish13 commented on #5
can't find WPLANG on line 122.

[2016-05-11 08:12] contactashish13 commented on #12
so do you want to redirect or do you want to add a dismissable nag? If the latter, do you want it on the plugin listing screen like Akismet shows?

[2016-05-19 14:11] #5 closed

[2016-05-19 14:12] selu91 commented on #12
yes, a dismissable nag, on the plugin listing screen

[2016-05-19 14:51] contactashish13 commented on #12
will the message inside be an image or just text? in either case, will you style this since you said you want a green notification?

[2016-05-21 11:14] ineagu commented on #12
@contactashish13  it will be just text, I think we can just use a standard wp notification style and maybe customize later on if we want.

[2016-05-24 08:56] selu91 opened #17 "fix issues with non admins"

[2016-05-24 18:31] contactashish13 commented on #17
It just needs one line of code for resolve this. How do you want me to go ahead?

[2016-05-24 20:32] selu91 commented on #17
@contactashish13 submit on the repo, i will take care of reporting further

[2016-05-26 11:44] selu91 commented on #12
@contactashish13 please add a security check here using nonce.

https://github.com/Codeinwp/intergeo-maps/commit/8114a1d6a9e3d346f5313205c54f9cdaf53494bf#diff-2ae54250c523c9ed56a97c45245d8857R6

[2016-05-27 16:02] #12 closed

[2016-05-27 16:02] #17 closed

[2016-05-27 16:12] #6 closed

[2016-05-28 17:26] HardeepAsrani opened #18 "Maps not working with zoom"
If I create a map with modified zooming range values, the map is not shown in preview and is not visible on the site. With default zooming range values is working.

@selu91

[2016-05-28 17:28] selu91 commented on #18
It should be fixed in the friday release.
Pe 28 mai 2016 20:26, "Hardeep Asrani" <notifications@github.com> a scris:

[2016-06-01 20:58] #18 closed

[2016-06-02 14:36] selu91 opened #19 "intergeo simplify admin"
Hello Ash,

I would like to simplify the admin interface for intergeo. Here are the modifications i would like to do:

1. Move the Overlays sections to be first and open by default. All other should be closed.
2. The subsection markers should be opened by default.
3. The enable drawing tools should be removed and the plugin should show them always.
4. In the markers sections, we need to add a butt

[2016-06-06 11:05] selul opened #20 "investigate conflict with uber menu"
@contactashish13 can you investigate if there is an issue with ubermenu, v3.2.4.

https://wordpress.org/support/topic/maps-freezing-after-a-few-seconds#post-8471693

[2016-06-06 12:36] contactashish13 commented on #20
@selu91 seems to be a paid plugin. do you have a copy?

[2016-06-06 13:45] selu91 commented on #20
@ineagu do you have one ?

[2016-06-06 14:17] selu91 commented on #19
@contactashish13, in the marker popup i would like to offer the possibility to users to enter the location, either by address or longitude and latitude, smth similar with :

http://prntscr.com/bd0kn9 from here: https://mapbuildr.com/ ( if you click on start building and add new location after )

Also, instead of icon url, please add a dropdown, similar with http://prntscr.com/bd0uo0 from the same

[2016-06-07 08:23] selu91 commented on #19
@contactashish13 regarding the dropdown, in the exemple provided, if you select custom, a new input will open to enter the URL.

Regarding the icons, you can add the default, custom, a new marker which will take the image from the plugin assets. The 3rd option will be just a sample, we will add more after.

Thank you !

[2016-06-07 08:34] ineagu commented on #20
nop, maybe we can ask them for a copy ( ubermenu )

[2016-06-07 10:15] contactashish13 commented on #19
@selu91 I've pushed the change that allows users to enter location either by address or longitude and latitude. Please let me know if its alright.

[2016-06-07 10:32] selu91 commented on #19
@contactashish13 when adding a marker using a custom location is not added in the correct place. Also, on adding new, the previous place stays there.

On edit, there is not place in the address location.

Please see video for example:

https://drive.google.com/file/d/0B8cbkQkB9YbnQzZGcG01RmdUY28/view

[2016-06-07 11:59] contactashish13 commented on #19
@selu91 ok, so you want the marker to move to the location whether it be a selected location or lat/long?

And when editing, do you want the name shown as well i.e. place selected or lat/long? I assumed that was not required.

[2016-06-07 12:01] selu91 commented on #19
@contactashish13 yes, after the user save the marker, to move to the desired location, either is address or lat/long
On edit, can we check if there was a location, to show the name, and if lat/long to show to numbers ?

[2016-06-07 13:51] contactashish13 commented on #19
@selu91 done

[2016-06-07 14:04] selu91 commented on #19
@contactashish13 i see that the dropdown for icons is not ready yet, i think you forgot to add it.

Also, the overlay accordation is not closing on click, it always stays open. it should stay only for the first time.

Also, when a marker is added can we center the map automatically around it? When the second is added to center having both of them in the preview and so on?

Do you know where the ma

[2016-06-07 14:15] contactashish13 commented on #19
@selu91 marker drop downs will take time. Maybe by day after tomorrow.  Will fix the overlay accordion in that as well.

Will see what I can do about centering.

Marker title is used in tooltip hover.

[2016-06-07 14:19] selu91 commented on #19
@contactashish13 i hover the tooltip and i see nothing, can you tell an use case?

[2016-06-07 14:31] contactashish13 commented on #19
@selu91 add a title, update the marker and the hover the mouse on the marker - the tooltip shows.

[2016-06-09 07:02] contactashish13 commented on #19
@selu91 added drop down for markers and fixed the issue with the overlays accordion. have not implemented centering yet.

[2016-06-16 10:49] contactashish13 commented on #19
@selu91 the map's bounds will be increased according to the marker that is being updated/added.

[2016-06-16 14:05] selu91 commented on #19
Hey @contactashish13,

there are some things left:
 * When creating the first marker, the zoom is to aggresive, can you increase the range a bit more, the zoom is to small
 * I have added titles for two markers, when i click on them after, i see no tooltip, neither if i use it in frontend, in the maps listing page or builder.
* Can we save the current zoom and position when creating the map. Now i

[2016-06-16 14:15] contactashish13 commented on #19
@selu91 for "When creating the first marker, the zoom is to aggresive, can you increase the range a bit more, the zoom is to small", do you want me to zoom in more?

Can you send me an example where you cannot see the tooltip? Not a video, but maybe in the sandbox account?

[2016-06-16 14:41] selu91 commented on #19
@contactashish13, for the first question, no, zoom out more.

for the 2nd:

http://ash-test.qsandbox.com/

access code: 0000
password: asd!@#
user: ash

You have a map created there, with one marker. When i click on it, no tooltip is shown.

Thanks !

[2016-06-17 05:25] contactashish13 commented on #19
@selu91 Strange, but I can see the tooltip. Have attached a snapshot.

![img_20160616_201352](https://cloud.githubusercontent.com/assets/12953439/16141498/f1321ffe-3479-11e6-876d-92f911dd255c.jpg)

Rest all features have been added.

[2016-06-17 23:21] selu91 commented on #19
Ah, i thought that is  tooltip which is prompted on click. It's ok now.

Thanks !

[2016-06-21 09:32] #19 closed

[2016-07-05 19:38] HardeepAsrani opened #22 "Freemium asking for data won't go"
A user reported it and I checked. The freemium option which asks for permission to collect data isn't going away, regardless of what option you choose. @selul

[2016-07-07 14:29] UVLabs opened #23 "Give plugin a dedicated settings page"
Right now the plugin settings is in a weird place -> a sub setting of "Media" the settings for the plugin is also under Settings->Media

Not sure why we have it working like that @selul

[2016-07-07 14:30] selul commented on #23
@UVLabs i dont understand your question :D ?

[2016-07-07 14:37] UVLabs commented on #23
@selul I installed the plugin for the second time I believe and it's hard finding where to go for settings off the bat, example this other map plugin has a top level settings page: http://prntscr.com/bpyvl1

But ours is a sub setting menu of media, I don't think maps are classified as Media: http://prntscr.com/bpyvxb

You also have to go to settings->Media if you want to do some more configuration

[2016-07-07 14:42] selul commented on #23
@UVLabs yes, i think would be a good idea.

@ineagu should we address this on the next update? I think the top level menu is the best choice, Maybe no Intergeo Maps, just Maps or Wordpress Maps ? Also the general settings could be a submenu of the top level page

[2016-07-07 15:33] ineagu commented on #23
I would add a sub-page under settings called intergeo maps, which can residirect to current setting page, what do you think?

A top level setting page isn't super nice for the users if you aren't using the plugin often, since it takes space in sidebar

[2016-07-07 16:00] UVLabs opened #24 "API Details on settings page wrong"
These details are wrong: http://prntscr.com/bq00ds URL should now be: https://console.developers.google.com/apis

and APi to use is Google Maps JavaScript API

Will add a doc to pipeline for how to actually create api key

[2016-07-07 16:25] UVLabs opened #25 "Long & Lat or entering address into marker issue"
Marker does not go to correct position on map, I did try switching the cords around but that didnt help, here's a screencast:

http://youtu.be/trZqltXB87A?hd=1

[2016-07-12 09:21] selul commented on #22
When you have more details let me know

[2016-07-12 09:27] selul commented on #23
@UVLabs  @ineagu

What do you think to integrate the settings in the current page ( from Media ), as separate tab, in order  to not have them spread all over the place ?

Also to rename the submenu from Intergeo Maps To Wordpress Maps or Maps ?

[2016-07-12 09:34] ineagu commented on #23
I don't understand, do we have another setting page ?

On Tue, Jul 12, 2016 at 11:27 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-07-12 09:35] selul commented on #23
Yes, there are plugin relates settings unde Esettings -> Media  @ineagu

[2016-07-12 09:43] selul commented on #24
#22 related, when we will have decision here, we will include this also

[2016-07-12 09:44] selul commented on #25
@contactashish13 can you check what could be the issue here?

[2016-07-13 03:22] UVLabs commented on #23
@selul @ineagu Media in WP to most people would deal with files, pictures, videos etc, usually plugins that have a submenu under media are plugins that do some kind of media management, Our maps plugin doesn't really fall into anything related to media so we should move it somewhere else, maybe under settings as Ionut said.

[2016-07-13 03:23] UVLabs commented on #23
And yes we could do the tab setting you mentioned. We also have this same issue with Visualizer plugin

[2016-07-13 04:51] contactashish13 commented on #25
pushed in the fix

[2016-07-13 04:58] selul commented on #25
@UVLabs can you help me test to see if is working fine now ?

[2016-07-13 05:07] selul commented on #20
@mariusghitulescu can you help me to get a copy from them ? We can ask if they provide us for testing the conflict ?

[2016-07-13 07:31] ineagu commented on #23
for me this is tricky, in order to add charts for example in the post
editor easily you need to go to "Add Media" . Having a top level menu like
we have for ReviveOldPost for example, isn't the best practice, too much
clutter for the user, so I would rather do small things that will help us
avoiding the confusion.

1. Add a link to settings here : http://prntscr.com/bsa0mv
2. Add a settings link i

[2016-07-13 07:34] selul commented on #23
Why is this necesarly

if it's just a redirect  ?

[2016-07-13 08:55] ineagu commented on #23
is not necesary, it just might help users find it easier, some people are
using directly there for a setting page

On Wed, Jul 13, 2016 at 9:34 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-07-13 09:23] selul commented on #23
ok, got it, i will prepare the specs next week.

[2016-07-13 18:16] UVLabs commented on #25
@selul sure

[2016-07-14 01:13] UVLabs commented on #25
@selul I downloaded the development copy but the issue still exists, it did get better, but not exactly like what I'm getting from maps.google.com maybe you could test with your area

[2016-07-14 02:31] UVLabs opened #26 "Adding around 30 markers issue"
If you add around 30 markers and save the shortcode then use it on the site then you will notice that not all show up.

This is a view while adding the markers: http://prntscr.com/bsmz6h

This is a view when actually rendered, in this case 2 markers at the bottom disappeared:  http://prntscr.com/bsncyl

@selul

[2016-07-14 21:02] UVLabs opened #27 "Console JS warnings"
Don't think these warnings are severe but might be worth looking into: https://s32.postimg.org/6fbm8zwxx/maps_warning.png

[2016-07-18 14:14] selul commented on #27
@contactashish13 do you have any idea why is happening this ?

[2016-07-18 14:19] selul commented on #26
@contactashish13 can you please investigate

[2016-07-18 14:24] selul commented on #25
@contactashish13 can you please check ? Please try to any location, just copy paste the lat/long and see if is the exact point as in the maps.google.com

[2016-07-18 14:32] selul opened #28 "settings page"
@contactashish13 i would like build a setting page for intergeo, with this settings:

http://prntscr.com/budy7p

We currently have them in Settings->Media, i would like to remove them from there and build a separate page.

The page can be accessed in two ways:

1. Add a link in the Settings area, Settings ->  Intergeo Maps which will show this page.
2. In Media-> Intergeo Maps add the button "Maps

[2016-07-18 14:32] selul commented on #24
#28 added

[2016-07-18 14:32] #24 closed

[2016-07-18 14:32] selul commented on #23
#28 added

[2016-07-18 14:32] #23 closed

[2016-07-18 15:27] contactashish13 commented on #25
@selul it works. I think the problem is one has to right click on google maps and click "whats here?" to get the exact lat/lon. copy pasting from the url gives a slightly different value because it also involves panning the map.

I'm plotting nelson's column

![image](https://cloud.githubusercontent.com/assets/12953439/16920098/f1f12af2-4d29-11e6-90ef-d7594539e26b.png)

![image](https://cloud.gith

[2016-07-18 15:55] selul commented on #25
@contactashish13 ok, this can be closed then

[2016-07-18 15:55] #25 closed

[2016-07-18 17:33] contactashish13 commented on #28
@selul maybe we should also add a nag notice on the maps listing page so that the user adds an api key and warn the user that maps might not display if the key is not added. It appears google is making this mandatory

[2016-07-18 21:36] selul commented on #28
yes, let's do this.

[2016-07-19 03:33] contactashish13 commented on #27
@selul I've fixed 2 of them and the NoApiKey warning is because @UVLabs has not set the API key.

[2016-07-19 03:38] contactashish13 commented on #26
@UVLabs i cannot replicate this error. I tried to add 30 markers using the draw feature as well as using the add marker button but all of them show up. Maybe there is a specific use case?

[2016-07-19 11:30] #27 closed

[2016-07-19 11:30] #22 closed

[2016-07-19 12:04] selul opened #29 "feedback integration"
@contactashish13 i will like to integrate a feedback mechanism in the intergeo plugin.

After some triggers are met i would like to show a nag notification in the plugin area, both settings and maps listing page.

The nag notification will have a description to engage the users to leave a review and 3 buttons:
 - remove the notification btn, will hide the notification
 -  ok btn, which will redire

[2016-07-19 18:17] UVLabs opened #30 "Google Map Wrong Instructions Api updated"
The instructions for creating an app are wrong, also just like mentioned in Visualizer, user has to go to Settings->Media to enter their API key rather than everything being centralized.

I was able to find instructions from another maps plugin: http://www.wpgmaps.com/documentation/creating-a-google-maps-api-key/

@selul

[2016-07-20 04:48] contactashish13 commented on #29
@selul should this be like a notice or like a thickbox popup?

[2016-07-20 08:24] selul commented on #29
@contactashish13 will be a nag notification, like the you used to redirect the users from the plugins page to the intergeo maps listing page.

[2016-07-20 12:04] contactashish13 commented on #29
@selul pushed in the changes

[2016-07-20 12:59] selul commented on #30
@UVLabs can you please edit them and send a pull request ?

Thanks !

[2016-07-20 13:11] selul commented on #28
i have added some comments here :

https://github.com/Codeinwp/intergeo-maps/commit/1d75613391b55e4fb2e514d1c6c4621c7115a8ca

[2016-07-20 17:28] selul commented on #29
@contactashish13

1. please use an action hook here, intergeo_shortcode_render_before and pass there also the atts parameter. Please hook to that action the function that marks the view. https://github.com/Codeinwp/intergeo-maps/commit/ec2c09ec2e466875f13a6ecef5f7e368097862a0#diff-828e0013b8f3bc1bb22b4f57172b019dR736

2. https://github.com/Codeinwp/intergeo-maps/commit/ec2c09ec2e466875f13a6ecef5f7

[2016-07-20 21:07] UVLabs commented on #26
@contactashish13 did you try adding the shortcode to a page and checking if all the markers rendered? I just saw another ticket come in where a user said at 18 markers there seems to be a limit where it replaces the previous one.

[2016-07-20 21:41] UVLabs commented on #30
Will do @selul waiting for at least basilis or hardeep to come back on support

[2016-07-21 04:49] contactashish13 commented on #26
Yes I did and there was no problem.

Regards,
Ash

On Jul 21, 2016, 02:37, at 02:37, Uriahs Victor <notifications@github.com> wrote:

[2016-07-21 10:47] mileamadalin opened #31 "Duplicate map issue"
@contactashish13 @selul we have an issue with duplicating a map. I created a duplicate map (which has Romania and London) and every time I make a new marker, one old one gets erased.

[2016-07-21 11:11] #28 closed

[2016-07-21 11:16] selul commented on #31
@contactashish13 can you please check ?

[2016-07-21 13:56] selul commented on #26
@UVLabs do you have any environment where we can check  ?

[2016-07-21 14:10] selul commented on #29
@contactashish13 i have added you a comment here:

https://github.com/Codeinwp/intergeo-maps/commit/ec2c09ec2e466875f13a6ecef5f7e368097862a0#commitcomment-18325674

[2016-07-21 14:20] selul commented on #29
@contactashish13 also here: https://github.com/Codeinwp/intergeo-maps/commit/ec2c09ec2e466875f13a6ecef5f7e368097862a0#diff-828e0013b8f3bc1bb22b4f57172b019dR1031 you have not confirmed if on update, we save the timestamp ?

We have 2 types of events when the timestamp need to be saved:

- plugin activation, from Wordpress -> Plugins -> Activate btn

- plugin update , when the user will update the p

[2016-07-21 15:44] UVLabs commented on #26
@selul I believe I was testing on localhost at the time, I will check on an online live environment and let you know, thanks

[2016-07-21 16:37] contactashish13 commented on #29
@selul my recent most commit had the changes. I'm updating the timestamp every time the user activates the plugin.

for plugin update, do you want me to check for a particular version?

[2016-07-21 17:41] selul commented on #29
@contactashish13 no, no particular version, i would like just to preserve the timestamp across plugin updates.

[2016-07-21 17:48] selul commented on #26
@UVLabs i can provide you a qsandbox environment if you want

[2016-07-22 05:38] contactashish13 commented on #31
@mileamadalin can you show me an example/video?

[2016-07-22 05:40] contactashish13 commented on #29
@selul I'm confused. initially I was preserving the timestamp across updates and then on the basis of your   comment I updated the timestamp at every activation. can you tell me what behavior you prefer?

[2016-07-22 06:17] selul commented on #29
@contactashish13, my only concern is to  preserve the timestamp across
updates
Pe 22 iul. 2016 08:40, "contactashish13" <notifications@github.com> a scris:

[2016-07-22 09:59] selul commented on #31
@contactashish13 have you tried to replicate ?

[2016-07-22 10:03] contactashish13 commented on #31
@selul yes and I found no issue that is why I was asking for a video

[2016-07-22 10:05] selul commented on #31
@mileamadalin can you guide @contactashish13 about the issue ?

[2016-07-28 10:57] mariusghitulescu commented on #20
Got it, here's the feedback from them:

[2016-08-01 08:55] rodica-andronache opened #32 "Update "Tested up to value" to 4.6 in readme file"

[2016-08-04 16:17] contactashish13 commented on #31
@mileamadalin strangely I cannot replicate the issue. I created 25 markers and I got 25 markers when I revisited the map. I see 25 markers on the front end and also in the library.

![image](https://cloud.githubusercontent.com/assets/12953439/17409465/0aefebe0-5a8d-11e6-9038-a4d1b33c6371.png)

[2016-08-04 17:46] selul commented on #20
@contactashish13 can you check if you can do a fix without needing any extra settings from the ubermenu side  ?

[2016-08-04 17:52] selul commented on #31
@mileamadalin can you please do a step by step replication as it seems is not an isolated case ?

[2016-08-05 15:52] contactashish13 commented on #20
@selul i couldn't replicate the issue of the drag freezing even if the maps api was being loaded by ubermenu. but I could see the error in the console that maps api has been loaded multiple times. i've dequeued their google maps if it is loaded and loaded ours. it works properly without throwing that error.

[2016-08-15 16:12] HardeepAsrani opened #33 "Old map markers disappear if created more than 20-22 markers"
As reported by several users, if you add a lot of markers to the map (like 20-25) then every time you save the map, a couple of them will be deleted. That should explain the issue.

[2016-08-15 16:14] HardeepAsrani commented on #33
Previously reported here as well: https://github.com/Codeinwp/intergeo-maps/issues/26

[2016-08-16 05:07] contactashish13 commented on #33
@HardeepAsrani i've already tried to replicate it with no success.

[2016-08-16 17:37] HardeepAsrani commented on #33
@selul Can you try to reproduce?

Both @UVLabs & I have tried and it worked, while it works properly for Ashish. We need a 4th opinion. :D

[2016-08-18 11:59] selul commented on #33
@HardeepAsrani @UVLabs @mileamadalin can you try to reproduce it on qsandbox environment

[2016-08-18 12:00] selul commented on #31
closing as duplicate for #33

[2016-08-18 12:00] #31 closed

[2016-08-18 14:46] selul opened #34 "change name to intergeo lite"
change name from plugin file to Intergeo lite

[2016-08-18 16:30] UVLabs commented on #33
Ok @selul @HardeepAsrani maybe @Basilakis can you help us replicate this? madalin is pretty busy for now it seems :)

[2016-08-18 19:58] lemonmojo commented on #33
Having the same issue. I'm using Plugin Version 1.0.6 and Pro Add-On Version 1.2.0.

[2016-08-19 10:25] #32 closed

[2016-08-19 10:44] selul commented on #33
@UVLabs @Basilakis @HardeepAsrani can you set up an online development environment where we can replicate this. try qsandbox.

[2016-08-21 09:17] selul commented on #30
@UVLabs do you have time to do it these days ?

[2016-08-21 15:21] UVLabs commented on #30
@selul waiting for madalin to upload the video to youtube, I did a video tutorial

[2016-08-22 15:04] selul commented on #30
@mileamadalin when this can be done ? A release is scheduled for wednesday

[2016-08-22 15:05] selul commented on #30
@UVLabs meanwhile take a random video and when is ready we just replace the link. Please arrange the texts and page there to all be in place

[2016-08-23 18:44] UVLabs commented on #30
@selul submitted pull request

[2016-08-25 16:13] mileamadalin commented on #30
@selul everything is okay here? Something that I need to do?

[2016-08-26 10:10] #34 closed

[2016-08-26 10:10] #30 closed

[2016-08-26 10:10] #29 closed

[2016-08-26 10:17] #20 closed

[2016-08-28 21:04] UVLabs opened #37 "PHP log error"
"Only variables should be passed by reference in /home/askwino7/public_html/winelab.net/wp-content/plugins/intergeo-maps/index.php on line 169"
 @selul

Ticket: https://secure.helpscout.net/conversation/243661808/110143/?folderId=948378

[2016-08-29 09:31] selul commented on #37
@contactashish13 can you check, it is related by the end function you use there, you should pass a variable not the function result

[2016-08-29 09:57] contactashish13 commented on #37
@selul I've pushed the changes in but I cannot create a new PR, maybe because the previous PR already exists.

[2016-08-29 10:02] selul commented on #37
@contactashish13 yes, seems ok now

[2016-08-31 00:53] UVLabs commented on #33
This didn't happen on the qsandbox installation @selul http://ash-test.qsandbox.com/intergeo-map/

@lemonmojo could you please give us a list of plugins you are using on the website where you have this issue, Could you please test again?

[2016-08-31 02:38] lemonmojo commented on #33
@UVLabs I just updated the plugin to 1.1.10 and now I'm having the same issue that I already had a month or two ago.
When I want to edit one of my maps I'm greeted by the following message:

It doesn't matter if I choose "Skip" or "Allow & Continue" I'm always being taken back to the same page. One of your developers fixed this by removing the specific code from my installation the last time aroun

[2016-08-31 20:57] UVLabs commented on #26
I tried 43 markers on ash-test.qsandbox.com and they seem to show up even after they are saved.

[2016-09-01 14:05] #37 closed

[2016-09-08 08:21] selul opened #39 "Fatal appear in the latest version"
The following appear is appearing when trying to use the latest Visualizer for a lot of people:

Fatal error: Can't use function return value in write context in /home/content/n3pnexwpnas02_data02/66/3243266/html/wp-content/plugins/intergeo-maps/templates/library/list.php on line 3

I'm not able to reproduce this but a lot of people have reported it so far, like this: https://secure.helpscout.net/

[2016-09-08 08:22] selul commented on #39
@contactashish13 can you have a look

[2016-09-08 09:15] contactashish13 commented on #39
PR: https://github.com/Codeinwp/intergeo-maps/pull/40

[2016-09-08 13:03] HardeepAsrani commented on #39
Yup, opened it in the wrong plugin by mistake. -_-

[2016-09-12 19:56] HardeepAsrani opened #41 "Market text disappears if added using text view"
If you add some Text/HTML in the text view (https://nimbus.everhelper.me/client/notes/share/574963/98d2efelbxzl86nrstpp) then it disappears once you save the map. @selul

[2016-09-16 20:59] UVLabs commented on #39
@selul we need to release this patch :)

[2016-09-17 23:21] UVLabs commented on #39
@selul @contactashish13 The latest commit fixes the maps showing but It shows the No API key notice when the api key is entered, and doesn't show it when there's no key. The conditional is backwards

[2016-09-18 21:37] selul commented on #39
@contactashish13 can you investigate ?

[2016-09-19 04:38] contactashish13 commented on #39
@selul my bad. Have fixed it.

[2016-09-19 17:34] #39 closed

[2016-09-19 17:35] selul commented on #41
@contactashish13 can you check ?

[2016-09-20 06:37] contactashish13 commented on #41
@selul have removed the visual/text tabs so that this no longer causes confusion. PR: https://github.com/Codeinwp/intergeo-maps/pull/42

[2016-09-20 08:04] #41 closed

[2016-09-20 08:35] #33 closed

[2016-09-20 15:14] lemonmojo commented on #33
Since you closed this issue, is it fixed?

[2016-09-20 15:21] selul commented on #33
@lemonmojo we already have an open issue on this. Until we find a pattern to replicate the issue we can not move any further

[2016-09-20 15:24] lemonmojo commented on #33
That's really unfortunate since I'm not able to use your product for more than 3 months now!

[2016-09-20 15:27] Basilakis commented on #33
Hey Felix,

Could you please give us a step by step way to replicate the issue?
What steps we can follow or provide us an account, where we can login and see the issue happening.

Thanks a lot

[2016-09-20 16:20] lemonmojo commented on #33
I'd love to! Unfortunately, like previously I can't even edit my maps now because of another issue. Please see the following short video: http://www.lemonmojo.com/temp/intergeomapsbug.mp4

[2016-09-27 18:05] lemonmojo opened #44 "Impossible to view or edit my maps because data usage opt-in dialog won't go away"
I can't view or update my maps because a dialog to opt-in to collecting data usage won't go away.
The following short video should explain the issue: [http://www.lemonmojo.com/temp/intergeomapsbug.mp4](http://www.lemonmojo.com/temp/intergeomapsbug.mp4)

[2016-11-15 12:10] ineagu opened #46 "Redo Intergeo settings page"
@selul there are few things that need to be done here 👍

Settings->intergeo
1. Re-arrage that page to be more easier to follow( ideally 2 columns for example
2. Add a button : "Create New Map" + one : "View exising maps" which will redirect user to : Media->Intergeo, users might arrive first on this page and can't figure out how to create maps
3. Add a subscription form similar to pirate_forms one

[2016-11-15 13:01] ineagu commented on #46
@selul when 4. is done, we can add the box to ( if is possible to add a hide icon, which will hide the box using native wp settings will be great ) :

- PirateForms
- Llorix One Companion
- Advanced CSS Editor
- Adblock Notify Lite

When 3 is done, we can add it to :

- WPPR ( somehow as sidebar widget )
- Adblock notify
- Visualizer

[2016-11-19 02:41] UVLabs opened #47 "Disable zoom on mouse wheel scroll"
I remember seeing this somewhere on a maps plugin but with intergeo while scrolling the page with mouse wheel the map will zoom in when you get to the area and it can be annoying, could we have an option to disable this behaviour?

You could see it happening here: http://www.pollencare.com/ use mouse wheel to scroll page it's not good user experience @selul

[2016-11-22 15:02] HardeepAsrani opened #48 "Supprot Issues: Export not working & directions"
https://secure.helpscout.net/conversation/278858997/119322/ and https://secure.helpscout.net/conversation/277721544/0/

- Marker export feature isn't working, same goes for import.
- The user in one thread is having issues when adding the map. Directions aren't appearing on the front-end.

@selul @contactashish13

Edit: This issue will cover a few more issues:

1. When multiple maps are created in

[2016-11-27 23:30] roger-richards opened #49 "Browser warning - parts of page are insecure"
Reported this issue to themeisle 2 months ago but the warning remains in the latest version. My WP site is full https.  Browser reports: "Part of this page are not secure (such as images.)"

Looking at the FireFox debug console:
Loading mixed (insecure) display content “http://maps.google.com/mapfiles/ms/icons/red-dot.png” on a secure page
https://maps.googleapis.com/maps-api-v3/api/js/27/2/util.j

[2016-11-29 16:50] ineagu commented on #46
thoughts here @selul ? With close to no sales to pro version, we can remove/include that in free if we have no other ideas for things that we can add.

[2016-12-01 18:04] suyogyashukla commented on #48
+1

[2016-12-05 10:02] contactashish13 commented on #48
@selul I dont have access to helscount. I tried to use forgot password but never received the email. Can you please mention what the issues are?

[2016-12-05 22:15] selul commented on #48
@contactashish13 @suyogyashukla can you help ash replicate the issue, maybe provide the csv files you tested

[2016-12-09 01:05] selul opened #50 "migrate pro into free"
@contactashish13 i would like to stop the working on the pro version and integrate it into the free version. We need to make sure that this will work ok for users who bought the pro one.

after this i would like to make the next changes:

* add a sidebar to the settings and maps page
* Add the next buttons : "Create New Map" + "View exising maps" to the settings page, in the top area, which will r

[2016-12-13 13:13] contactashish13 commented on #50
@selul if someone has the pro version installed, they will need to uninstall it. or are you expecting it to work flawlessly when users download the new free version on an instance that has both free and pro activated?

[2016-12-13 14:21] contactashish13 commented on #50
@selul can you please confirm this is what you want in the settings sidebar and the maps sidebar?

settings page
- create new map pops up the add map popup
- view existing maps goes to the library

library/maps page
- subscription form

[2016-12-14 13:41] contactashish13 commented on #50
@selul in pirate forms are you talking about this? Its not an ajax based form.

![image](https://cloud.githubusercontent.com/assets/12953439/21184145/1ce794c2-c231-11e6-8297-cdb6c4559203.png)

[2016-12-14 14:53] selul commented on #50
@contactashish13 regarding the settings page, those 2 btns will just redirect to the maps page, there is no fancy behaviour there, just a simple redirect.  Both btns will redirect to the same page . The buttons for the settings page will not be in the sidebar, will have the same placement as the add new is having on the LIbrary page. The sidebar will be the same for both of the pages

Regarding th

[2016-12-14 17:46] contactashish13 commented on #50
@selul PR: https://github.com/Codeinwp/intergeo-maps/pull/51

this will work even if the pro is activated. this will show a nag notice to the user to delete the pro plugin.

[2016-12-14 17:51] selul commented on #50
@contactashish13 can we remove the nag ? if is working fine with both active is fine for me.

[2016-12-14 18:02] contactashish13 commented on #50
@selul done

[2016-12-15 15:36] selul commented on #50
@contactashish13 http://prntscr.com/djslsv what will do this enabled checkbox /

[2016-12-16 06:31] contactashish13 commented on #50
@selul if its unchecked, the imported markers will not be exported

[2016-12-20 13:07] selul commented on #50
@contactashish13 let's remove the checkbox, when they click From Computer will automatically import the markers

[2016-12-21 05:59] contactashish13 commented on #50
@selul https://github.com/Codeinwp/intergeo-maps/pull/52

[2016-12-31 17:52] UVLabs commented on #49
@selul @contactashish13 didn't we patch this some time ago? we should change the URL to

//maps.google.com/mapfiles/ms/icons/red-dot.png

[2016-12-31 17:53] #47 closed

[2017-01-06 11:33] #50 closed

[2017-01-06 12:42] selul commented on #46
@ineagu what do you think about dashboard widget  ? http://prntscr.com/ds72zx

[2017-01-06 15:49] ineagu commented on #46
looks good, just rename it more generic : Latest ThemeIsle Tutorials and
instead of our full logo we can use just the parrot, otherwise would be too
intrusive. instead of colored logo head we can also look fontawesome icon,
the idea is that we want the widget to look naturally integrated inside the
wp-admin, respecting wp design ( colors, fonts etc )

On Fri, Jan 6, 2017 at 2:42 PM, Marius Cristea

[2017-01-06 15:56] selul commented on #46
Should we include font-awesome just for that icon ?

[2017-01-06 16:43] ineagu commented on #46
Nop, we can download as image for example

[2017-02-28 01:34] roger-richards commented on #49
Still not fixed in latest release. In FireFox debugger:

Loading mixed (insecure) display content “http://maps.google.com/mapfiles/ms/icons/red-dot.png” on a secure page

Can this be fixed or patched?

[2017-03-12 22:51] roger-richards commented on #49
I should add, that since I use your paid plugin on a woocommerce site, having pages (with maps) that flag as insecure is a bad impression for customers (even though I know it is just this one tiny image!)

[2017-03-14 05:40] UVLabs commented on #49
+1

[2017-05-19 09:18] HardeepAsrani opened #61 "Custom map styles not working"
@selul Few users have reported that the custom map styles aren't working. 1.1.6 works. All versions after that are not working.

[2017-05-27 04:37] UVLabs opened #62 "Settings link still goes to old settings page"
The settings link under the plugin name in plugins area still links to the media page in wp-admin and not the intergeo maps page

[2017-05-30 03:48] UVLabs opened #63 "Blue markers don't show up when chosen from add markers area"
https://github.com/Codeinwp/intergeo-maps-pro/issues/32

[2017-06-28 21:33] HardeepAsrani commented on #63
@selul

+1

[2017-07-16 03:37] UVLabs opened #65 "Shortcode address doesn't seem to be working"
I've tried adding this:

`[intergeo zoom="12" width="50%" height="400px" style="border: 3px solid red; margin: 0 auto;"]Central Park New York, NY 10024, USA[/intergeo]`

and this

`[intergeo zoom="12" width="50%" height="400px" style="border: 3px solid red; margin: 0 auto;"]Central Park, NY[/intergeo]`

And neither show up on the map, the map still centers to Munich and no marker appears in New Yo

[2017-07-26 04:13] UVLabs opened #66 "Can't draw on map"
@selul after drawing a shape and saving it's gone from the map: http://prntscr.com/g0co0g

[2017-08-16 18:54] UVLabs commented on #66
+1 this relates to this @contactashish13 https://secure.helpscout.net/conversation/412886804/140263/

[2017-08-17 06:33] contactashish13 commented on #66
@selul I've created a PR against production (without running phpcs as it was returning a lot of errors): https://github.com/Codeinwp/intergeo-maps/pull/68

[2017-08-24 00:38] UVLabs commented on #66
+1

[2017-11-08 23:21] UVLabs opened #70 "Extra Map Style not working"
This is different from #61

See here: https://prnt.sc/h80jj1 the style does not apply on the outputted map

[2017-12-05 21:26] HardeepAsrani opened #72 "Not working in China"
People access google map at http://www.google.cn/maps, but can not access maps.google.com. @selul

[2018-03-12 12:25] #26 closed

[2018-06-04 16:58] contactashish13 commented on #63
@rodica-andronache https://github.com/Codeinwp/intergeo-maps-pro/issues/32 seems to be resolved. If that's not the case, can you please clarify what investigation this requires?

[2018-06-05 03:37] contactashish13 commented on #65
@UVLabs I was able to reproduce this issue because I forgot my API key. You have to ensure that your API key supports the geolocation API. If it does not, it will not geocode the address. All errors pertaining to google maps are shown in the developer console. You will see the error for this issue in the console as well.

@rodica-andronache we don't have support for multiple addresses. Does this n

[2018-06-05 03:44] contactashish13 commented on #66
@UVLabs have you tested this recently? I cannot reproduce this issue. Please share a video so that I can understand the issue better.

[2018-06-05 04:49] contactashish13 commented on #49
@UVLabs can you confirm this issue exists? If so, please share a screenshot. I am not able to reproduce this.

[2018-06-05 06:59] contactashish13 commented on #62
@rodica-andronache fixing this as part of #61

[2018-06-05 07:03] contactashish13 commented on #61
@rodica-andronache PR: https://github.com/Codeinwp/intergeo-maps/pull/75

[2018-06-06 04:29] contactashish13 opened #76 "Remove TGMPA from composer to avoid potential plugin conflicts"

[2018-06-06 04:31] contactashish13 commented on #76
closing in favor of https://github.com/Codeinwp/intergeo-maps-pro/issues/37

[2018-06-06 04:31] #76 closed

[2018-06-06 08:39] #62 closed

[2018-06-06 08:49] rodica-andronache commented on #61
@contactashish13 I see the custom style is not visible in the edit window https://prnt.sc/jri16m , when you try to edit an already created map https://prnt.sc/jri1fs. And also, the custom style is not updating the map when you add it, only after you close the window with Update the map.

[2018-06-06 09:01] rodica-andronache commented on #61
@contactashish13 while testing this https://github.com/Codeinwp/intergeo-maps/pull/75, I encountered some stuff I don't understand if you could help:
At Overlays, Markers https://prnt.sc/jri6hz I added two blue markers, but they still appear red.
And also the other tabs, Polylines, Rectangles, Circles, etc they seem to open, but when you click on them, nothing appears.
Could you please check that?

[2018-06-06 09:06] rodica-andronache commented on #66
@contactashish13 I don't know how this drawing works. Is it from this options https://prnt.sc/jri8nb ? How to make them visible? Thanks :D

[2018-06-06 09:16] rodica-andronache commented on #63
@contactashish13 I think I answered here https://github.com/Codeinwp/intergeo-maps/issues/61. Didn't test with the pro version, but in the lite version, it wasn't working for me. If you could check

[2018-06-06 11:13] contactashish13 commented on #48
@rodica-andronache PR: https://github.com/Codeinwp/intergeo-maps/pull/78 and https://github.com/Codeinwp/intergeo-maps-pro/pull/38

@HardeepAsrani I was not able to reproduce the error with directions.

[2018-06-06 12:10] rodica-andronache commented on #65
@contactashish13 and how do you make sure that the API key supports the geolocation API? Is there something to do? Because if there is, we can add a doc or something.
I tried with my API key and indeed is not working, but I don't understand how I could make it work

[2018-06-06 12:51] contactashish13 commented on #65
@rodica-andronache there is no way to make sure. We call the API and the API throws an error in the JS console. That is the only way of making sure that the key supports the API. In fact, that is how I found out as well.

You may want to look at updating the video in the plugin that shows how to get the API key. The process has become a little more complicated now as you have to enable specific AP

[2018-06-06 12:53] contactashish13 commented on #61
@rodica-andronache you need to save the map for the red to turn blue. This does not behave like Visualizer - the map has to be saved.

Polylines, Rectangles, Circles, - after you click, you need to draw that shape on the map.

[2018-06-06 12:57] contactashish13 commented on #66
@rodica-andronache I see what you mean. Those drawing tools appear when Pro is activated.

![image](https://user-images.githubusercontent.com/12953439/41039475-2b15a38e-69b7-11e8-9dd8-21ed02cae79e.png)

But maybe those accordions on the RHS should not appear when only lite is activated. Do you want to create a new issue for that?

[2018-06-06 14:05] rodica-andronache commented on #66
@contactashish13 yes, if those options are available just in pro, they shouldn't appear at all in lite. You don't have to create a new issue, you can work on this one I think.
And in pro, everything is working well? maybe @UVLabs can tell us more :)

[2018-06-06 14:14] rodica-andronache commented on #65
yes, I was thinking about that.
@dascalescuro it would be possible to update this video https://www.youtube.com/watch?v=rqucit5YHNk&t=54s ? Like Ash said the process to get your API key changed, and it's not easy to follow.
@contactashish13 isn't something that should be done in the plugin? maybe you can investigate a bit? https://developers.google.com/maps/documentation/geolocation/intro

[2018-06-06 14:39] dascalescuro commented on #65
I am trying to look at the new process.
Does this one require payment? It is really weird...

[2018-06-06 14:55] rodica-andronache commented on #65
from what I've seen, no. If you start from the link suggested in the video console.developers.google.com/apis/library

[2018-06-07 03:45] contactashish13 commented on #65
@rodica-andronache I'll close this issue in favor of #48 so that all changes can go as one PR.

[2018-06-07 03:45] #65 closed

[2018-06-07 03:46] contactashish13 commented on #66
@rodica-andronache I'll close this issue in favor of #48 so that all changes can go as one PR.

[2018-06-07 03:46] #66 closed

[2018-06-07 03:55] contactashish13 commented on #63
@rodica-andronache the issue mentioned in https://github.com/Codeinwp/intergeo-maps-pro/issues/32 is different from the issue you mentioned in https://github.com/Codeinwp/intergeo-maps/issues/61. Please clarify.

[2018-06-07 05:05] contactashish13 commented on #70
@UVLabs the custom style added is incorrect CSS. It should have been `border: 10px solid grey;`. Not an issue.

[2018-06-07 05:05] #70 closed

[2018-06-07 05:50] contactashish13 commented on #48
@rodica-andronache have fixed all issues I could find.

If the API does not support driving directions, it does throw an error while editing the map. I've added the error code from google as well to make it a little clearer.

On the front end, I'm showing this same kind of alert only if the user is logged in. I'm assuming that the user who adds the shortcode will test it first. If the user creates

[2018-06-07 05:54] contactashish13 commented on #44
@rodica-andronache the video file no longer exists.

[2018-06-07 11:30] #44 closed

[2018-06-07 11:43] #63 closed

[2018-06-07 11:50] rodica-andronache commented on #48
@contactashish13 you are right, I am planning to test the plugin a bit more, but for sure, if by then you find other problems you can add them on git 👍

[2018-06-07 11:50] #48 closed

[2018-06-07 11:58] rodica-andronache commented on #61
@contactashish13 I don't understand. Isn't that possible?
And even if we leave it like that. Isn't it a problem that after you click Create map ( with custom style ), you see it updated, but when you click to edit the map you get the old settings?

regarding the shape drawing, I finally understood how it's done, but it's quite difficult I think for the users.
Would it be possible that in pro, we h

[2018-06-08 04:44] contactashish13 commented on #61
@rodica-andronache have fixed the red/blue icon issue as part of #48

I think having a button is a good suggestion. Will work on it. Maybe we can just make #48 a master issue?

[2018-06-09 10:02] rodica-andronache commented on #61
@contactashish13 thanks.
But how about the custom style thing 'And even if we leave it like that. Isn't it a problem that after you click Create map ( with custom style ), you see it updated, but when you click to edit the map you get the old settings?'

[2018-06-18 13:36] rodica-andronache commented on #61
@contactashish13 http://nimb.ws/aRZVBq Let me know if you can replicate it :)

[2018-06-18 13:37] rodica-andronache commented on #49
@UVLabs

[2018-06-19 04:19] contactashish13 commented on #61
@rodica-andronache I cannot reproduce this behavior even when I follow your steps exactly.

[2018-06-19 13:14] #49 closed

[2018-06-19 14:42] rodica-andronache commented on #61
@contactashish13 just to be sure, did you used https://github.com/Codeinwp/intergeo-maps/pull/77 and for the json, did you just copy and paste it? from you screenshot, the json seems a bit different formatted then what I had. Maybe you can share a video too 👍

[2018-06-20 06:51] contactashish13 commented on #61
@rodica-andronache I used https://github.com/Codeinwp/intergeo-maps/pull/77 and as you can see it works correctly changing the map to a dark theme. The whitespace is removed from JSON once it is saved so that's not an issue.

https://drive.google.com/file/d/1Qx0y21opwuYfjynD-xCI4Yj2YzrU11m4/view

[2018-11-09 17:13] roger-richards commented on #49
Not sure if this was ever fixed but now Wordpress is displaying an admin banner: "Your store does not appear to be using a secure connection."  Chrome inspect shows:
Mixed Content: The page at 'https://winelab.net/' was loaded over HTTPS, but requested an insecure image 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'. This content should also be served over HTTPS.
2util.js:125 Mixed Content

[2018-11-09 17:42] roger-richards opened #81 "Wordpress admin & Browser warning - parts of page are insecure"
Issue #49 is back. Tried to use two plugins to force SSL / HTTPS and neither fixed the warning.
Wordpress displays admin banner: "Your store does not appear to be using a secure connection."

Chrome inspect shows:
Mixed Content: The page at 'https://winelab.net/' was loaded over HTTPS, but requested an insecure image 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'. This content should also

[2018-11-10 09:39] contactashish13 commented on #49
@mileamadalin can you please test and confirm that this issue exists.?

[2018-11-13 15:56] mileamadalin commented on #49
@contactashish13 I tried to replicate this issue on a live webiste and I could not reproduce it. Works for me and I do not have the same issue as the customer.  Please see the images attached:

![screenshot 2018-11-13 at 5 51 03 pm](https://user-images.githubusercontent.com/6906834/48425231-0cfa9380-e76d-11e8-9d2b-96d1372d982d.png)

![screenshot 2018-11-13 at 5 49 44 pm](https://user-images.github

[2018-11-13 22:38] roger-richards commented on #49
I created a stage copy with all plugins deactivated except woocommerce
and Intergeo
- Google Maps Plugin - Lite 2.2.3 and Intergeo Maps - Google Maps Plugin
Pro Add-on 1.4.3

https://winelab.net/stage1/

Regards,
Roger

On Tue, Nov 13, 2018 at 7:56 AM Madalin Milea <notifications@github.com>
wrote:

[2018-11-26 14:32] mileamadalin commented on #61
Unfortunately, I cannot reply to that ticket anymore.

[2019-03-13 03:50] HardeepAsrani opened #85 "Not being able to edit the map"
In the latest version, once you make a map you can't edit it. @contactashish13

[2019-03-13 03:56] HardeepAsrani commented on #85
PS: You also can't add new maps until you delete the old one.

[2019-03-13 09:17] selul commented on #85
@contactashish13 it might be related to the latest changes maybe?

[2019-03-14 06:37] HardeepAsrani commented on #85
The console error is something about "layers." And I see the Maps have a Section for layers which is empty. I guess we removed some feature?

[2019-03-14 09:11] contactashish13 commented on #85
@HardeepAsrani can you test https://github.com/Codeinwp/intergeo-maps/pull/86? If this is for some customers site, can you tag me on HS as there might be other scenarios that need to be tested.

[2019-03-14 11:40] HardeepAsrani commented on #85
@Codeinwp/admins Works.

[2019-03-18 11:07] radu-themeisle commented on #85
@contactashish13 I gathered 3 issues submitted 2 days ago and refer to the 2.3 update:
1. maps are not loaded correctly and there's the error: TypeError: undefined is not an object (evaluating 'd.options.layer.importcsv') TypeError: undefined is not an object (evaluating 'd.options.layer.importcsv')
2. Users report that after creating 1 map the "Add New" button doesn't work
3. Users with several m

[2019-03-25 16:16] radu-themeisle commented on #85
@contactashish13 I was able to replicate my 3 reported issue and Hardeep's (adding a new map) and I can confirm #86 solves them.

Unfortunately, I noticed other issues:
- When viewing the maps you have to click "ok" twice to get rid of the Google notice (happens in the dashboard too): https://www.useloom.com/share/0195f68304dd4cd393e6a993a74da364
- Custom map style doesn't show in the library/fron

[2019-03-28 11:26] Vishakha-Patel opened #87 "Multiple Maps on single page are not showing"
If we add multiple maps on single post, only the first one shows.

- The issue comes with both Gutenberg and Classic Editor.
- If we rollback the plugin to older version, it works.

Ticket: https://wordpress.org/support/topic/intergeo-maps-dont-works/#post-11366001

@contactashish13

[2019-04-02 14:14] radu-themeisle commented on #85
@contactashish13 what's the status on this? Can we have a fix this week? We have another pro user reporting these issues: http://prntscr.com/n6fug7

https://secure.helpscout.net/conversation/793986123/182696?folderId=212385

[2019-04-23 10:40] contactashish13 commented on #87
@Vishakha-Patel I cannot reproduce this behavior. Please check https://overseas-beaver.jurassic.ninja/2019/04/23/intergeo/ - this has PR #86 applied. Even without the PR, I can see multiple maps **if they have already been created before**.  If you need the credentials to test, ping me on slack.

[2019-04-23 10:59] contactashish13 commented on #85
@radu-themeisle It looks like you have not tested with a valid google map key that's why you are getting that popup. That popup is from google and its behavior is something we cannot do anything about. Can you please retest these with a valid key and let me know what you find?

[2019-04-24 09:34] radu-themeisle commented on #85
@contactashish13 I tested with a valid API key and the map works without issues but I still can't add a new one or edit the one I just created, it just seems the controls are inactive.
I noticed some errors in the console, maybe it helps you: http://prntscr.com/ng5yrh

I tested via jurassic.ninja, using Chrome.

[2019-04-30 12:14] Vishakha-Patel commented on #87
@contactashish13,

I am checking this and trying to find the difference between your installation and mine. Will update here.

[2019-05-04 08:47] Vishakha-Patel commented on #87
@contactashish13

Worked for me on Jurassic Ninja after applying PR #86.

Without PR - http://prntscr.com/nk8ng8 version 2.3.0
With PR - http://prntscr.com/nk8nns

[2019-05-04 08:47] #87 closed

[2019-05-16 09:37] radu-themeisle opened #88 ""Get our free email course" not working"
Submitting my email address to get the free email course does nothing: http://prntscr.com/npag19

[2019-05-21 03:33] HardeepAsrani opened #89 "Recommend Otter's Map Block"
Should we recommend people to install and use Otter's map block? @selul

[2019-05-21 06:46] selul commented on #89
@HardeepAsrani we already do this in the sidebar of Intergeo I think.

Do you have something else in mind?

[2019-05-21 20:55] HardeepAsrani commented on #89
Right now it recommends Otter without any indication that it even has a Google Map block. Maybe something more clear with a video?

<img width="1647" alt="Screen Shot 2019-05-22 at 2 24 06 AM" src="https://user-images.githubusercontent.com/2649903/58130059-c9f80c00-7c38-11e9-868f-076cf32b8f37.png">

[2019-05-22 06:32] selul commented on #89
@HardeepAsrani makes sense,

you can add a more targeted notice for users with WP>5 telling them about Otter maps block.

For users with WP<5 we can show the current sidebar Otter block.

What do you think?

[2019-05-22 21:28] HardeepAsrani commented on #89
@selul Sounds good. For users with WP 5+, we can show a video with a message in "Library" page if they don't have any Maps present, like this:

![58130059-c9f80c00-7c38-11e9-868f-076cf32b8f37](https://user-images.githubusercontent.com/2649903/58209705-2b85ac80-7d05-11e9-99fe-902553b749e6.png)

And if a user has few maps, maybe we can show it like this:

<img width="1650" alt="Screen Shot 2019-05-2

[2019-05-23 09:21] selul commented on #89
@HardeepAsrani seems a bit too intrusive all of them.

We can show just notice similar to how WordPress adds in the dashboard http://prntscr.com/ns9qzw or how we recommend starter sites when you install neve

What do you think?

[2019-05-25 22:04] HardeepAsrani commented on #89
Yea, we can do something like this.

[2019-08-14 21:46] HardeepAsrani commented on #89
Can we decide what we should show? Something that will convert people. Not sure what will be the best way. Maybe @ineagu knows?

[2019-08-23 08:52] ineagu commented on #89
Honestly for me we can come up with a big wpforms like notice, retire intergeo and ask people to use otter. Doesn't make sense to keep maintaining that.

[2019-08-25 18:23] HardeepAsrani commented on #89
@ineagu Issue with that is that current users can't just change Intergeo to Otter as their existing maps won't work. :)

[2019-08-25 18:27] ineagu commented on #89
Bad luck :))

Jokes aside, we can let them know that, that we recommend to switch and that they would need to redo the charts, so better run those in same time for a while

Sent from my iPhone

[2019-08-29 09:02] radu-themeisle opened #92 "Adding text to markers does not work"
https://wordpress.org/support/topic/adding-text-to-markers-does-not-work/#post-11564439
"...version 2.3.1 – this version does work (as compared to 2.3.0), but the marker problem is the same as in 2.2.4. As soon as I add text to a marker, the map doesn’t save."

[2019-12-03 21:58] #89 closed